
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

    .container1 {
        width: 100%;
        
        margin: 0 auto;
        position: fixed;
        top: 0;
    left: 0;
    right: 0;
    background: rgb(19, 73, 221);
    z-index: 1000;
    transition: transform 0.3s ease;
    }
.container1 a{
    color:black;
    text-decoration:none ;
    padding:10px 20px;
   
}
.container1 a:last-child{
     margin-right:0;
}
.container2 {
    width: 100%;
    
    margin: 0 auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(14, 221, 7);
    z-index:1000;
    margin-left:0;
    
}
.container2 a{
color:black;
text-decoration:none ;
padding:10px 20px;

}
.container2 a:last-child{
 margin-right:0;
 
}

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.image-container {
    position: relative;
   margin-top:70px ;
    margin-left:50px ;
    border-radius: 50% ;
    
}

.image-container img {
    
    display: block;


}


.text {
    position: absolute;
    top: 1000px;   
    margin-left: 700px;

}


#link{
     
        background-color: #007bff; 
        color: white; 
        padding: 15px 30px; 
        font-size: 16px; 
        cursor: pointer; 
         
 
     

}
.footer {
    color: rgb(71, 68, 68);
    margin-top: 100px;
    background-color: black;
    text-decoration: none;
    padding: 20px 0; /* Add padding for better spacing */
}

.footer-container {
    display: flex;
    justify-content: space-around; /* Distribute space between children */
    align-items: center;
    flex-wrap: wrap; /* Wrap children to the next line if needed */
}

.f {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.f a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
    color: white;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

   
      
      
  
  

